* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 0.2rem 1rem;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}

.logo-div {
  display: flex;
  align-items: center;
  max-width: 400px;
}

.logo-image {
  width: 10%;
}

.navbar {
  display: flex;
  gap: 1rem;
}
